body {
    background-color: rgb(131, 172, 172);
}

h1 {
    text-align: center;
    font-weight: bold;
 
}

form {
    background-color: rgb(182, 230, 231);
    width: 40rem;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

input,textarea,select {
    width: 100%;
    display: block;
    resize: none;
}

#section-readio input {
    display:inline;
}

label {
    display: block;
    color:rgb(8, 38, 38);
    padding: 0.2rem 0 0.1rem 0;
}

ul {
    list-style:none;
    padding: 0;
}

div{
    display: flex;
    justify-content: end;
}

button {
    padding: 0.2rem 0.8rem;
    margin: 2px;
}

#clear {
    background-color: rgba(169, 203, 192, 0);
    color: rgb(67,56,96);
    border: 1px solid rgb(156,164,196);
    border-radius: 3px;
    font-size: 1rem;
    
}
#submit {
    background-color: rgba(57, 66, 96);
    color: white;
    border: 1px solid rgb(57,66,96);
    border-radius: 3px;
    font-size: 1rem;
}